extends layout

block content

	.container
		.section
			h1 Industrial Testing + Rehab
			.main
				p
					| Industrial rehabilitation is a type of service that specializes in rehabilitation of injured workers. Our services include outpatient physical therapy, functional capacity evaluations, work conditioning/work hardening programs and impairment ratings (technical component).
				p
					| Functional Capacity Evaluations — (FCE) This evaluation is designed to help determine an individual’s current physical & functional abilities, as it relates to their specific work duties.  Our exam will identify limitations that need to be addressed with rehabilitation so the worker can safely return to productive employment. Tests administered will examine strength, flexibility and ability to perform work tasks, such as lifting, carrying, climbing, kneeling, squatting, pushing/pulling, and various job-specific functional activities.
				h2 Work Hardening
				p
					| Work Hardening is a multidisciplinary program designed to improve function, quality of life, and pain management skills for patients with impairments that interfere with vocational, physical, and psychological functioning. This program is most beneficial to patients presently out of work, or working less than their full potential due to an injury.  As the program progresses, work simulation activities are the main focus of the program.  Patients participate in weekly sessions with our licensed psychologist to help deal with the psychosocial issues associated with the injury and return to work.
				h2 Work Conditioning
				p
					| Work Conditioning is a single disciplinary rehabilitation program designed to improve function, and quality of life with a primary goal getting the patient physically ready to return to work. The program focus is on physical conditioning and injury prevention/education, designed to return the patient to their workplace.
					br		
				//
					<h2>Other Services</h2>
					<p>Click image or call us for more information.</p>
					<div class="services">
					<div class="service left">
					<div class="himage">
					<a href="services/spineclinic.php"><img src=".images/spine1.jpg" alt="total spine specialty clinic" /></a>
					<h3 id="spineclinic">Total Spine Speciality Clinic</h3>
					</div>
					</div>
					<div class="service right">
					<div class="himage">
					<a href="services/sports.php"><img src="./images/sports1.jpg" alt="sports performance" /></a>
					<h3 id="sports">Sports Performance + Testing</h3>
					</div>
					</div>
					<div class="clear"></div>
					</div>
					<div class="services">
					<div class="service left">
					<div class="himage">
					<a href="services/industrialrehab.php"><img src="#/images/industrial1.jpg" alt="industrial rehab" /></a>
					<h3 id="rehab">Industrial Training + Rehab</h3>
					</div>
					</div>
					<div class="service right">
					<div class="himage">
					<a href="services/psych.php"><img src="../images/psych1.jpg" alt="psychological services" /></a>
					<h3 id="psychological">Pyschological Services</h3>
					</div>
					</div>
					<div class="clear"></div>
					</div>
					<div class="clear"></div>
					</div>
			.side
				.box
					h1 Other Services
					ul.servicemenu
						li
							h2
								a(href='/services/spineclinic') Total Spine Specialty Clinic
								a(href='/services/spineclinic')
									img(src='images/spine1.jpg', alt='total spine specialty clinic', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/sports') Sports Performance
								a(href='/services/sports')
									img(src='images/sports1.jpg', alt='sports performance', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/industrialrehab') Industrial Testing + Rehab
								a(href='/services/industrialrehab')
									img(src='images/industrial1.jpg', alt='industrial rehab', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/psych') Psychological Services
								a(href='/services/psych')
									img(src='images/psych1.jpg', alt='psychological services', style='max-width: 100%; max-height: 100%;')
			.clear