extends layout

block content

	.container
		.section
			h1 Physical Therapy
			.main
				h2 Physical Therapy Services
				p
					| We are passionate about what we do, and we take great pride in our ability to help people get back to normal life activities. Our promise is to provide you with the best care possible to get you back to doing the activities you enjoy most in life.
				p
					| Our clinicians utilize a combination of manual physical therapy and therapeutic exercise, along with modalities to help alleviate symptoms associated with various musculoskeletal and orthopedic conditions.  We focus on correcting biomechanical dysfunctions and muscle imbalances,  improving flexibility and strength, restoring proper joint alignment, and providing guidance and education to help you maintain these improvements.
				p
					| Your goals are important to us, and whatever they may be, we are committed to helping you achieve them.
				h2 The First Day: What To Expect
				p
					| Most of us can relate to the fear and anxiety associated with limping into an office after an injury.  Rest assured, we are here to help you, so don’t let those fears keep you from getting the help you need right away.
				p
					| Your first appointment will begin with a comprehensive medical history and evaluation of your current condition or diagnosis. This is our professional analysis of your problem which will allow us to develop a treatment program specific to you and your goals. During this examination our clinicians will utilize their expertise to assess your symptoms as well as the root cause of the condition. This is an open question and answer session as well, so please do not hesitate to take advantage of our knowledge to gain a better understanding of your diagnosis.
				p
					| Once the examination is complete and the exact tissues/structures and root causes are identified, treatment will commence on the injured areas. The treatment program will guide you through specific treatment options, manual therapies, and rehabilitative exercises specific to you and your condition.
				p
					| Please wear comfortable clothing to allow access to the injured areas for the initial examination and each subsequent visit. You are welcome to bring clothes to change into during your appointments as well. Plan to spend between 1 to 1.5 hours with us during this first visit.
				h2 Follow-Up Visits: What To Expect
				p
					| Each follow-up visit after your initial examination will begin with a brief re-exam of your problem and symptoms to determine any changes in your condition. Then we will commence with treatment to address any soft tissue restriction or joint dysfunction. Your therapeutic exercise program will be progressive based on the current status of your condition and goals. Communication is key, so please be honest regarding your symptoms so that we know exactly how you feel.  This will allow us to adjust or modify your treatment plan accordingly to ensure a successful outcome.
				p
					| Please wear comfortable clothing or bring a change of clothing to allow access to injured areas.  Plan to spend between 45 minutes to 1.5 hours with us during these visits.
				h2 Injuries & Rehabilitation
				p
					| We consider it a privilege to work with each patient to evaluate and treat all types of orthopedic, spine, musculoskeletal, and sport-related injuries that appropriate for physical therapy intervention.
				p Examples of typical diagnoses or conditions we treat:
				ul
					li Neck, mid-back, and low back pain or injury
					li Shoulder, elbow, and wrist/hand pain or injury
					li Hip, knee, & ankle pain or injury
					li
						| Post-surgical rehabilitation: Rotator Cuff Repair, ACL reconstruction, Meniscus, Joint Replacements, Spinal surgeries, and many others...
				p
					| It is our philosophy and clinical obligation to provide our patients with the most current and clinically accepted forms of physical therapy treatments supported by peer-reviewed clinical research and our professional associations.  Your treatment plan will be based on your specific physical and functional impairments, your goals, and our desire to get you back to living!
				p Examples of treatments we provide, just to name a few: 
				ul
					li Manual therapy for joints and soft tissues
					li McKenzie spine and extremity protocols
					li Kinesiotaping Techniques
					li Posture & Core stabilization training
					li Sport specific rehab & training
					li Balance therapy & training
					li Range of motion & Strengthening programs
					li Electro-therapies, Ultrasound, etc...    

				//
					<h2>Other Services</h2>
					<p>Click image or call us for more information.</p>
					<div class="services">
					<div class="service left">
					<div class="himage">
					<a href="services/spineclinic.php"><img src=".images/spine1.jpg" alt="total spine specialty clinic" /></a>
					<h3 id="spineclinic">Total Spine Speciality Clinic</h3>
					</div>
					</div>
					<div class="service right">
					<div class="himage">
					<a href="services/sports.php"><img src="./images/sports1.jpg" alt="sports performance" /></a>
					<h3 id="sports">Sports Performance + Testing</h3>
					</div>
					</div>
					<div class="clear"></div>
					</div>
					<div class="services">
					<div class="service left">
					<div class="himage">
					<a href="services/industrialrehab.php"><img src="#/images/industrial1.jpg" alt="industrial rehab" /></a>
					<h3 id="rehab">Industrial Training + Rehab</h3>
					</div>
					</div>
					<div class="service right">
					<div class="himage">
					<a href="services/psych.php"><img src="../images/psych1.jpg" alt="psychological services" /></a>
					<h3 id="psychological">Pyschological Services</h3>
					</div>
					</div>
					<div class="clear"></div>
					</div>
					<div class="clear"></div>
					</div>
			.side
				.box
					h1 Other Services
					ul.servicemenu
						li
							h2
								a(href='services/spineclinic.php') Total Spine Specialty Clinic
								a(href='services/spineclinic.php')
									img(src='images/spine1.jpg', alt='total spine specialty clinic', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='services/sports.php') Sports Performance
								a(href='services/sports.php')
									img(src='images/sports1.jpg', alt='sports performance', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='services/industrialrehab.php') Industrial Testing + Rehab
								a(href='services/industrialrehab.php')
									img(src='images/industrial1.jpg', alt='industrial rehab', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='services/psych.php') Psychological Services
								a(href='services/psych.php')
									img(src='images/psych1.jpg', alt='psychological services', style='max-width: 100%; max-height: 100%;')
			.clear