extends serviceLayout

block content

	.container
		.section
			h1 Total Spine Specialty Clinic
			.main
				p
					em
						| Are you suffering from acute or chronic neck or back pain? Are you ready to get back to enjoying all that life has to offer? Look no further. We can help you.  Call our Total Spine Specialty Clinic to schedule your appointment right away.  Most patients experience significant improvement in the first visit!
				p
					| Our Total Spine Specialty Clinic was developed by one of the most respected and sought after physical therapy spine specialists, 
					a(href='../therapists.php#atkinson') Teresa A. Atkinson, PT, MDT
					| .
				p
					| Teresa is a manual spinal physical therapist with over 30 years of clinical experience. A graduate of the prestigious Columbia University school of Physical Therapy, Teresa has spent several years perfecting her clinical skills and expertise in a variety of settings. She has been in practice in the Houston medical center area since 1983, and in 1998 completed a long-standing mechanical spinal curriculum by passing her certification in mechanical diagnosis and treatment from 
					strong The McKenzie Institute
					| . In 1999, she was designated a Level 3 therapist, the highest level of clinical expertise in this region.
				p
					| Teresa specializes in acute & chronic neck and back pain, cervicogenic headaches, and chronic mandibular pain & dysfunction syndromes. She also provides non-surgical solutions for conditions such as:
				ul(type='square')
					li
						| Spinal disc disorders, stenosis, cervical whiplash, arthritic spine, facet dysfunction, strain/sprain injuries, postural dysfunction
					li Headaches due to neck dysfunction
					li TMJ and facial pain
					li Joint derangements
					li Fibromyalgia/inflammatory disorders
					li Neck & Low Back Pain/stiffness; Prevention & Self-Maintenance
				p
					| Teresa also provides education and case study presentations, which can be viewed in our monthly newsletter. Sign up today for a great resource.


			.side
				.box
					h1 Other Services
					ul.servicemenu
						li
							h2
								a(href='/services/spineclinic') Total Spine Specialty Clinic
								a(href='/services/spineclinic')
									img(src='images/spine1.jpg', alt='total spine specialty clinic', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/sports') Sports Performance
								a(href='/services/sports')
									img(src='images/sports1.jpg', alt='sports performance', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/industrialrehab') Industrial Testing + Rehab
								a(href='/services/industrialrehab')
									img(src='images/industrial1.jpg', alt='industrial rehab', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/psych') Psychological Services
								a(href='/services/psych')
									img(src='images/psych1.jpg', alt='psychological services', style='max-width: 100%; max-height: 100%;')
			.clear
