extends serviceLayout

block content

	.container
		.section
			h1 Sports Performance + Testing
			.main
				p
					| As healthcare professionals who are focused on health, fitness, and overall wellness, we understand the needs of many active patients who desire to go above and beyond in their sports & fitness endeavors. Many of us know what it is like to compete, whether in a weekend league or at the professional level, which affords us a unique perspective when it comes to helping you reach your performance goals.
				p
					| We have diligently spent time developing a wide range of services for all types of recreational and athletic activities to improve your performance and prevent injuries. In doing so, we have created a strategic partnership with 
					a(href='http://www.thirdcoasttraining.com') Third Coast Training
					|  to help you train smarter and gain the competitive edge. Our programs can help you achieve superior results.
				p Our specialty services include: 
				ul(type='square')
					li Multi-sport/Triathlon Testing & Training Programs
					li Endurance/Single Sport Testing & Training Programs
					li Running & Biking Analysis
					li Throwing Instruction & Strengthening Program
					li Nutritional Counseling
					li Sports Psychology
				p
					| Call us today to discuss specific programs and calendar of events for upcoming season.
			.side
				.box
					h1 Other Services
					ul.servicemenu
						li
							h2
								a(href='/services/spineclinic') Total Spine Specialty Clinic
								a(href='/services/spineclinic')
									img(src='images/spine1.jpg', alt='total spine specialty clinic', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/sports') Sports Performance
								a(href='/services/sports')
									img(src='images/sports1.jpg', alt='sports performance', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/industrialrehab') Industrial Testing + Rehab
								a(href='/services/industrialrehab')
									img(src='images/industrial1.jpg', alt='industrial rehab', style='max-width: 100%; max-height: 100%;')
						li
							h2
								a(href='/services/psych') Psychological Services
								a(href='/services/psych')
									img(src='images/psych1.jpg', alt='psychological services', style='max-width: 100%; max-height: 100%;')
			.clear